.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5; /* Light gray background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
  }
  
  form {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #007bff; /* Blue color for label */
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; /* Larger font size for better readability */
  }
  
  button[type="submit"] {
    background-color: #007bff;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px; /* Larger font size for emphasis */
  }
  
  .post-details {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e6ffe6; /* Light green color for post details */
    box-shadow: 0px 0px 10px rgba(0, 128, 0, 0.2); /* Green box shadow */
  }
  
  table {
    width: 100%;
  }
  
  th {
    text-align: left;
    font-weight: bold;
    color: #d9534f; /* Red color for table headers */
  }
  
  td {
    font-weight: bold;
    color: #5bc0de; 
  }
  
  .error {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffe6e6; 
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.2); 
  }
  
  p {
    font-weight: bold;
    color: #d9534f; 
  }
  